[Desktop Entry]
Name=Regress Pro
GenericName=Ellipsometry and Reflectometry analysis application
Exec=regress
Icon=regress-pro
Terminal=false
Type=Application
Categories=Science;
